<!--
Author: Jazmin Gonzalez
Date: 1/20/23
File: home.html
Description: user view page for the application page-->

<include href="views/header.html"></include>

<body>


  <!--------Company info----------------->
  <div class="container-fluid px-0">

    <div class="row">
      <div class="col-12 content">
        <!--<h5>Jazzy Software LLC</h5>
        <h3>Software Internship</h3>
        <span>Seattle Washington, paid, 12 weeks</span>-->
        <a type="button" class="btn btn-primary float-right"
           href="personal">Apply Now!</a>
      </div>
    </div>

    <!-- Position Info ---------------->
    <div class="row">
      <div class="col-lg-6 content">
        <h2>Position</h2>
        <p>We are currently seeking a software engineering intern to join
          our team at Jazzy Software. This is a great opportunity for
          a student or recent graduate with a passion for software development
          to gain hands-on experience and make a real impact on our company.</p>

        <hr class="mx-auto">

        <h2>About the Position</h2>
        <p>As a software engineering intern, you will be working closely with our experienced
          developers on a variety of projects. You will have the
          opportunity to work on cutting-edge technologies and contribute to
          the development of new features and products.</p>
        <br>

        <ul>
          <li>Collaborate with our development team to design, develop, and test new features and products</li>
          <li>Participate in code reviews and contribute to the overall quality of our codebase</li>
          <li>Learn and work with a wide range of technologies, including </li>
        </ul>

        <hr class="mx-auto">

        <h2>About the Team</h2>
        <div class="reviews">
          <p>"This is my fave place to work!" -Last intern</p>
          <br>
          <p>"we will treat you good" -Boss</p>
          <br>
          <p>"I want to work here for the rest of my life" - Employee</p>
        </div>

        <hr class="mx-auto">

        <div class="text-center">
          <a type="button" class="btn btn-primary text-center"
             href="personal">Apply Now!</a>
        </div>

      </div>

      <div class="col-lg-6">
        <img class="img-responsive" src="images/work-place.png" alt="workplace pic" >
      </div>

    </div>


  </div> <!-- End of our main div -->



<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>